<?php
return [
    'BE' => [
        'loginSecurityLevel' => 'rsa',
        'explicitADmode' => 'explicitAllow',
        'debug' => '{{ typo3_install_be_debug }}',
        'installToolPassword' => '{{ typo3_install_be_installToolPassword }}',
        'adminOnly' => '{{ typo3_install_be_adminOnly }}',
        'compressionLevel' => '{{ typo3_install_be_compressionLevel }}',
        'diff_path' => '{{ typo3_install_be_diff_path }}',
        'unzip_path' => '{{ typo3_install_be_unzip_path }}',
        'disable_exec_function' => {{ typo3_install_be_disable_exec_function }},
        'versionNumberInFilename' => '{{ typo3_install_be_versionNumberInFilename }}',
    ],
    'DB' => [
        'database' => '{{ typo3_install_db_name }}',
        'host' => '{{ typo3_install_db_hostname }}',
        'password' => '{{ typo3_install_db_password }}',
        'socket' => '{{ typo3_install_db_socket }}',
        'username' => '{{ typo3_install_db_username }}',
    ],
    'EXT' => [
        'extConf' => [
            'rsaauth' => 'a:1:{s:18:"temporaryDirectory";s:0:"";}',
            'saltedpasswords' => 'a:2:{s:3:"BE.";a:4:{s:21:"saltedPWHashingMethod";s:41:"TYPO3\\CMS\\Saltedpasswords\\Salt\\PhpassSalt";s:11:"forceSalted";i:0;s:15:"onlyAuthService";i:0;s:12:"updatePasswd";i:1;}s:3:"FE.";a:5:{s:7:"enabled";i:1;s:21:"saltedPWHashingMethod";s:41:"TYPO3\\CMS\\Saltedpasswords\\Salt\\PhpassSalt";s:11:"forceSalted";i:0;s:15:"onlyAuthService";i:0;s:12:"updatePasswd";i:1;}}',
{% if typo3_install_extconf %}
{% for line in typo3_install_extconf %}
{% if loop.last %}
            {{ line }}
{% else %}
            {{ line }},
{% endif %}
{% endfor %}
{% endif %}
        ],
    ],
    'FE' => [
        'loginSecurityLevel' => 'rsa',
        'cHashIncludePageId' => true,
        'debug' => '{{ typo3_install_fe_debug }}',
        'activateContentAdapter' => '{{ typo3_install_fe_activateContentAdapter }}',
        'compressionLevel' => '{{ typo3_install_fe_compressionLevel }}',
        'disableNoCacheParameter' => '{{ typo3_install_fe_disableNoCacheParameter }}',
        'versionNumberInFilename' => '{{ typo3_install_fe_versionNumberInFilename }}',
        'cHashRequiredParameters' => '{{ typo3_install_fe_cHashRequiredParameters }}',
        'pageNotFound_handling' => '{{ typo3_install_fe_pageNotFound_handling }}',
        'pageUnavailable_handling' => '{{ typo3_install_fe_pageUnavailable_handling }}',
    ],
    'GFX' => [
        'enable_typo3temp_db_tracking' => '{{ typo3_install_gfx_enable_typo3temp_db_tracking }}',
        'colorspace' => '{{ typo3_install_gfx_colorspace }}',
        'gdlib_png' => '{{ typo3_install_gfx_gdlib_png }}',
        'im' => '{{ typo3_install_gfx_im }}',
        'im_mask_temp_ext_gif' => '{{ typo3_install_gfx_im_mask_temp_ext_gif }}',
        'im_noScaleUp' => '{{ typo3_install_gfx_im_noScaleUp }}',
        'im_path' => '{{ typo3_install_gfx_im_path }}',
        'im_path_lzw' => '{{ typo3_install_gfx_im_path_lzw }}',
        'im_v5effects' => '{{ typo3_install_gfx_im_v5effects }}',
        'im_version_5' => '{{ typo3_install_gfx_im_version_5 }}',
        'image_processing' => '{{ typo3_install_gfx_image_processing }}',
        'jpg_quality' => '{{ typo3_install_gfx_jpg_quality }}',
    ],
    'INSTALL' => [
        'wizardDone' => [
            'TYPO3\CMS\Install\Updates\AccessRightParametersUpdate' => 1,
            'TYPO3\CMS\Install\Updates\BackendUserStartModuleUpdate' => 1,
            'TYPO3\CMS\Install\Updates\Compatibility6ExtractionUpdate' => 1,
            'TYPO3\CMS\Install\Updates\ContentTypesToTextMediaUpdate' => 1,
            'TYPO3\CMS\Install\Updates\FileListIsStartModuleUpdate' => 1,
            'TYPO3\CMS\Install\Updates\FilesReplacePermissionUpdate' => 1,
            'TYPO3\CMS\Install\Updates\LanguageIsoCodeUpdate' => 1,
            'TYPO3\CMS\Install\Updates\MediaceExtractionUpdate' => 1,
            'TYPO3\CMS\Install\Updates\MigrateMediaToAssetsForTextMediaCe' => 1,
            'TYPO3\CMS\Install\Updates\MigrateShortcutUrlsAgainUpdate' => 1,
            'TYPO3\CMS\Install\Updates\OpenidExtractionUpdate' => 1,
            'TYPO3\CMS\Install\Updates\PageShortcutParentUpdate' => 1,
            'TYPO3\CMS\Install\Updates\ProcessedFileChecksumUpdate' => 1,
            'TYPO3\CMS\Install\Updates\TableFlexFormToTtContentFieldsUpdate' => 1,
            'TYPO3\CMS\Install\Updates\WorkspacesNotificationSettingsUpdate' => 1,
            'TYPO3\CMS\Rtehtmlarea\Hook\Install\DeprecatedRteProperties' => 1,
            'TYPO3\CMS\Rtehtmlarea\Hook\Install\RteAcronymButtonRenamedToAbbreviation' => 1,
        ],
    ],
    'MAIL' => [
        'transport' => '{{ typo3_install_mail_transport }}',
        'transport_smtp_server' => '{{ typo3_install_mail_transport_smtp_server }}',
        'transport_sendmail_command' => '{{ typo3_install_mail_transport_sendmail_command }}',
    ],
    'SYS' => [
        'isInitialDatabaseImportDone' => true,
        'isInitialInstallationInProgress' => false,
        'caching' => [
            'cacheConfigurations' => [
                'extbase_object' => [
                    'backend' => 'TYPO3\\CMS\\Core\\Cache\\Backend\\Typo3DatabaseBackend',
                    'frontend' => 'TYPO3\\CMS\\Core\\Cache\\Frontend\\VariableFrontend',
                    'groups' => [
                        'system',
                    ],
                    'options' => [
                        'defaultLifetime' => 0,
                    ],
                ],
            ],
        ],
        't3lib_cs_convMethod' => 'mbstring',
        't3lib_cs_utils' => 'mbstring',
        'curlUse' => '{{ typo3_install_sys_curlUse }}',
        'encryptionKey' => '{{ typo3_install_sys_encryptionKey.stdout }}',
        'clearCacheSystem' => '{{ typo3_install_sys_clearCacheSystem }}',
        'devIPmask' => '{{ typo3_install_sys_devIPmask }}',
        'displayErrors' => '{{ typo3_install_sys_displayErrors }}',
        'enableDeprecationLog' => '{{ typo3_install_sys_enableDeprecationLog }}',
        'enable_DLOG' => '{{ typo3_install_sys_enable_DLOG }}',
        'sqlDebug' => '{{ typo3_install_sys_sqlDebug }}',
        'systemLogLevel' => '{{ typo3_install_sys_systemLogLevel }}',
        'exceptionalErrors' => '{{ typo3_install_sys_exceptionalErrors }}',
        'systemLocale' => '{{ typo3_install_sys_systemLocale }}',
        'UTF8filesystem' => '{{ typo3_install_sys_UTF8filesystem }}',
        'fileCreateMask' => '{{ typo3_install_sys_fileCreateMask }}',
        'folderCreateMask' => '{{ typo3_install_sys_folderCreateMask }}',
        'maxFileNameLength' => '{{ typo3_install_sys_maxFileNameLength }}',
        'loginCopyrightShowVersion' => '{{ typo3_install_sys_loginCopyrightShowVersion }}',
        'loginCopyrightWarrantyProvider' => '{{ typo3_install_sys_loginCopyrightWarrantyProvider }}',
        'loginCopyrightWarrantyURL' => '{{ typo3_install_sys_loginCopyrightWarrantyURL }}',
        'sitename' => '{{ typo3_install_sys_sitename }}',
    ],
];
